<h1>Sign Up Below:</h1>
<h4>Please fill in your details below.</h4>

<form method="POST" action="/registrations">
  <p>Name: <input type="text" name="name"></p>
  <p>Email: <input  type="text" name="email"></p>
  <p>Password: <input  type="text" name="password"></p>
  <input type="submit" value= "Sign Up">
</form> 


